docx==0.2.4
Flask==3.1.0
keybert==0.8.5
langchain==0.3.12
neo4j==5.27.0
networkx==3.4.2
pydub==0.25.1
python_docx==1.1.2
rank_bm25==0.2.2
sentence_transformers==3.3.1
spacy==3.8.2
SpeechRecognition==3.11.0
torch==2.5.1
transformers==4.46.3
